@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

.league-spartan {
  font-family: 'League Spartan', sans-serif;
}

:root {
  --orange: #f9ba60;
  --pink: #e9768f;
  --black: #1d1c1c;
  --white: #fff;
  --light-color: #666;
  --box-shadow: 0 .5rem 1.5rem #eee0c7 ;
}


p {
  text-align: justify;
  margin: 20px;
  font-size: 1.6rem;
  text-transform: none;
  margin: 50px;
  z-index: 2;
  
}
h1{
  margin: 20px;
  color: #253237;
  font-size: 36px;
  display: inline-block;
  text-transform: none;
}

h2 {
  margin: 19px;
  color: #253237;
  font-size: 36px;
  display: inline-block;
  text-transform: none;
}



h3{
  margin: 40px;
  color: #2c646e; 
  font-size: 30px;
  text-transform: none;
}
.subtitulo {

  font-size: 3rem;
}

.destaque1 { background-color: #efa019;  font-weight: bold; }
.destaque2 { background-color: rgb(145, 1, 87); font-weight: bold; }
.destaque3 { background-color: #8ec3cc; font-weight: bold; }

.img {
  width: 300px;

}

img, p{
  display:inline-block;
}

.container {
  display: flex;
  margin: 30px;
  align-items: center;
 

}

.section-imagem-texto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 4rem 7%;
  flex: 1;
}

.section-imagem-texto .content {
  flex: 1 1 ;
}

.section-imagem-texto .content h2 {
  font-size: 4rem;
  color: #253237;
}

.section-imagem-texto .content p {
  font-size: 1.6rem;
  color: var(--light-color);
  line-height: 1.8;
}

.section-imagem-texto .imagem {
  flex: 1 1;
}

.section-imagem-texto .imagem img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
  background-color: #fbf6ed;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 7%;
}

.heading {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6px;
}

.heading span {
  color: var(--orange);
  text-transform: uppercase;
}

.btn {
  font-size: 1.7rem;
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  border-radius: .5rem;
  border: .2rem solid #8ec3cc;
  color: #8ec3cc;
  background: none;
  cursor: pointer;
}

.btn:hover {
  background: #8ec3cc;
  color: var(--white);
}

/* header */

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 80px;
  background: #fbf6ed;
  box-shadow: var(--box-shadow);
  text-align: center;
 
}

.header .logo {
  font-size: 20px;
  font-weight: bold;
  color:#8ec3cc;
}

.header .logo i {
  color: #64a5b0; //**mudar a cor*/
}

.logo {
  max-width: 200px; /**negocio pra logo nao ficar pequena e nem atrásdas palavras*/
  height: auto;

}

  /* Ajustando o logo para caber no espaço */
  .header .logo img {
      width: 200px;
      height: auto;

  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.7rem; 
     justify-content: flex-start;
     z-index: 999;
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1.5rem;
  color:#8ec3cc;
  text-decoration: none;
  z-index: 999;
  


}

.header .navbar a:hover,
.header .icons div:hover {
  color: var(--orange);
  text-decoration: none;
  z-index: 999;
}

.header .icons div {
  font-size: 3rem;
  margin-left: 2rem;
  color: #8ec3cc;
  cursor: pointer;
  z-index: 999;
}

#menu-btn {
  display: none;
}


.advinhePersinalidade{

   min-height: 100px;
   padding-bottom: 90px;
   flex-direction: column; 
   align-items: flex-start;
    display: flex;
    z-index: 999;
}

















































@media (max-width:991px) {

  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: var(--white);
  }

  .header .navbar.active {
    right: 2rem;
  }
  html { font-size: 55%; }
  .header { padding: 2rem 3rem; }
  section { padding: 3rem; }
  
  img {
    width: 50%;
    margin: 10px 0;
  }

  .logo {
  width: 70px; /**negocio pra logo nao ficar pequena e nem atrásdas palavras*/
  height: auto;
  

}

  .container {
    flex-direction: column;
      text-align: center;
  }



  


  
}

@media (max-width:768px) {
  #menu-btn { display: inline-block; }
  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
   
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: var(--white);
  
  }
  .header logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header .navbar.active {
    right: 2rem;
    transition: .4s linear;
    flex-direction: column; /* <- ESSENCIAL */
  align-items: flex-start;
  width: 200px;
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
    text-decoration: none;
    flex-direction: column; 
  align-items: flex-start;
  }
  .section-imagem-texto {
    flex-direction: column;
  }
  
  .section-imagem-texto .imagem {
    order: 2;
    width: 100%;
  }
  
  .section-imagem-texto .content {
    order: 1;
    width: 100%;
  }

  .container1 {
      flex-direction: column;
        align-items: center;
  }
  
  }

  .home .content h3 {
    font-size: 4.5rem;
  }
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90%;
  }
  .cards-container{
    grid-template-columns: repeat(2, 1fr);
  }


@media (max-width: 600px) {
  html { font-size: 50%; }
  .home .content h3 {
    font-size: 3.5rem;
  }

  h1{
display: block;

  }
.cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
 
}



